/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    phac-nml/measeq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Required inputs
    input                      = null
    platform                   = null // illumina or nanopore only

    // Required Nanopore inputs for clair3 model (Choose 1 of the 2 options)
    model                      = null
    local_model                = null

    // Optional overall inputs
    reference                  = null
    primer_bed                 = null
    metadata                   = null
    min_depth                  = 10
    no_frameshifts             = false
    amplicon                   = false

    // Illumina optional inputs for amplicons, ambiguous and indel variants, and optical duplicates
    remove_duplicates          = false
    ivar_trim_min_read_length  = 30
    ivar_primer_pairs          = null
    ivar_offset                = 0
    min_ambiguity_threshold    = 0.30
    max_ambiguity_threshold    = 0.75
    min_indel_threshold        = 0.60
    min_alt_fraction_freebayes = 0.05
    min_variant_qual_freebayes = 20
    align_bowtie2              = false

    // Nanopore optional inputs for variants
    ont_min_read_length        = 200
    ont_min_base_qual          = 12
    normalise_ont              = 500
    ont_keep_incorrect_primers = false
    min_variant_qual_c3        = 7
    min_frameshift_qual_c3     = 30
    min_allele_freq_c3         = 0.60
    min_mask_freq_c3           = 0.30
    min_site_threshold_c3      = 0.05

    // Contact information to be printed on report
    contact_name               = null
    contact_website            = null
    contact_phone              = null
    contact_email              = null

    // Nextclade datasets
    //  The N450 one shouldn't change other than the tag on updates
    //  The custom one should also stay pointing to the provided dataset
    //  to allow proper fs and stop mutation checking unless you have a
    //  different whole genome measles nextclade dataset you want to try
    nextclade_dataset_name     = 'nextstrain/measles/N450/WHO-2012'
    nextclade_dataset_tag      = '2025-03-26--11-47-13Z'

    // DSId assignment from known samples
    //  Format is fasta file with >ID
    dsid_fasta                 = null
    default_gsp_dsid           = null // Only for INEXT integration

    // Control threshold and checks
    neg_control_pct_threshold  = 10 // Percentage of the genome allowed to be called to pass a detected negative control
    neg_ctrl_substrings        = 'neg,ntc,blank,en' // Substring of values separated by a , to seach for in sample names to detect controls
    skip_negative_grading      = false // Skip grading of negative controls

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    monochrome_logs              = false
    help                         = false
    version                      = false
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Schema validation default options
    validate_params            = true

    // Config options
    config_profile_name          = null
    config_profile_description   = null
    custom_config_version        = 'master'
    custom_config_base           = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact       = null
    config_profile_url           = null
}

// Load base.config by default  for all pipelines
includeConfig 'conf/base.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// IRIDA Next config
includeConfig 'conf/iridanext.config'

// Reference Config
includeConfig 'conf/reference.config'

// Profiles for running/dependency management
profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }

    // Test Profiles and Min Resource Profiles
    min_resources { includeConfig 'conf/min_resources.config' }
    test_illumina { includeConfig 'conf/test_illumina.config' }
    test_nanopore { includeConfig 'conf/test_nanopore.config' }
    // Lint really doesn't like not having a test profile
    test          { includeConfig 'conf/test.config'          }

    // Profile to run with Artic primers
    artic_primers { includeConfig 'conf/artic_primers.config' }

}

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load wslh-bio/spriggan custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'


//
// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'phac-nml/measeq'
    author          = """Darian Hole, Ahmed Abdalla, Molly Pratt""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        [
            name: 'Darian Hole',
            affiliation: 'Public Health Agency of Canada',
            email: 'darian.hole@phac-aspc.gc.ca',
            github: 'darianhole',
            contribution: ['author'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Ahmed Abdalla',
            affiliation: 'Public Health Agency of Canada',
            email: 'ahmed.abdalla@phac-aspc.gc.ca',
            github: '',
            contribution: ['author'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Molly Pratt',
            affiliation: 'Public Health Agency of Canada',
            email: 'molly.pratt@phac-aspc.gc.ca',
            github: '',
            contribution: ['author'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/phac-nml/measeq'
    description     = """Measles sequencing and analysis"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=24.10.0'
    version         = 'Measles-measeq-v1.3.1-v1.0.0'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.4.2'
    id 'nf-iridanext@0.3.0'  // Generate JSON for IRIDA Next
    id 'nf-prov@1.4.0'
}

validation {
    help {
        enabled = true
        command = "nextflow run phac-nml/measeq -profile <profile> --input samplesheet.csv --platform <illumina|nanopore> --outdir <outdir>"
    }
}

prov {
    enabled = true
    formats {
        bco {
            file = "${params.outdir}/pipeline_info/bco.json"
            overwrite = true
        }
    }
}

String AWSRun = System.getenv("AWS_WORKFLOW_RUN")
if (AWSRun != null) {
    includeConfig 'conf/omics.config'
}
