process {
    withName: FASTP {
        container = 'community.wave.seqera.io/library/fastp:0.24.0--62c97b06e8447690'
    },
    withName: BWAMEM2_INDEX {
        container = 'community.wave.seqera.io/library/bwa-mem2_htslib_samtools:e1f420694f8e42bd'
    },
    withName: NEXTCLADE_RUN {
        container = 'community.wave.seqera.io/library/nextclade:3.11.0--155203da8341cfe6'
    },
    withName: BOWTIE2_ALIGN {
        container = 'community.wave.seqera.io/library/bowtie2_htslib_samtools_pigz:edeb13799090a2a6'    
    },
    withName: BOWTIE2_BUILD {
        container = 'community.wave.seqera.io/library/bowtie2_htslib_samtools_pigz:edeb13799090a2a6'
    },
    withName: NEXTCLADE_DATASETGET {
        container = 'community.wave.seqera.io/library/nextclade:3.11.0--155203da8341cfe6'
    },
    withName: MINIMAP2_ALIGN {
        container = 'community.wave.seqera.io/library/minimap2_samtools:33bb43c18d22e29c'
    },
    withName: BWAMEM2_MEM {
        container = 'community.wave.seqera.io/library/bwa-mem2_htslib_samtools:e1f420694f8e42bd'
    },
    withName: BCFTOOLS_NORM {
        container = 'community.wave.seqera.io/library/bcftools:1.21--4335bec1d7b44d11'
    }
}