process {

    withName: 'BCFTOOLS_NORM' {
        container = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_1'
    }

    withName: 'BOWTIE2_ALIGN' {
        container = 'biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0'    
    }

    withName: 'BOWTIE2_BUILD' {
        container = 'biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0'
    }

    withName: 'BWAMEM2_INDEX' {
        container = 'quay.io/biocontainers/mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6:2d15960ccea84e249a150b7f5d4db3a42fc2d6c3-0'
    }
    withName: 'BWAMEM2_MEM' {
        container = 'quay.io/biocontainers/mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6:2d15960ccea84e249a150b7f5d4db3a42fc2d6c3-0'
    }
    
    withName: 'FASTP' {
        container = 'quay.io/biocontainers/fastp:0.24.0--heae3180_1'
    }

    withName: 'MINIMAP2_ALIGN' {
        container = 'quay.io/biocontainers/mulled-v2-66534bcbb7031a148b13e2ad42583020:3161f532a5ea6f1dec9be5667c9efc2afdac6104-0'
    }
    
    withName: 'NEXTCLADE_DATASETGET' {
        container = 'docker.io/nextstrain/nextclade:3.11.0'
    }

    withName: 'NEXTCLADE_RUN' {
        container = 'docker.io/nextstrain/nextclade:3.11.0'
    }

}